USE [master]
GO
/****** Object:  Database [VeriTabaniTemelleri]    Script Date: 11.04.2017 13:03:24 ******/
CREATE DATABASE [VeriTabaniTemelleri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VeriTabaniTemelleri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\VeriTabaniTemelleri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VeriTabaniTemelleri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\VeriTabaniTemelleri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeriTabaniTemelleri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeriTabaniTemelleri]
GO
USE [VeriTabaniTemelleri]
GO
/****** Object:  User [sqladm]    Script Date: 11.04.2017 13:03:24 ******/
CREATE USER [sqladm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 11.04.2017 13:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MNo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Sehir] [char](2) NULL,
	[Adres] [nvarchar](150) NULL,
	[Telefon] [char](11) NULL,
	[Email] [nvarchar](100) NULL,
	[DogumTarihi] [date] NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[MNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEHIR]    Script Date: 11.04.2017 13:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEHIR](
	[Plaka] [char](2) NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SEHIR] PRIMARY KEY CLUSTERED 
(
	[Plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIPARIS]    Script Date: 11.04.2017 13:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS](
	[SNo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[M_No] [numeric](18, 0) NOT NULL,
	[U_No] [numeric](18, 0) NOT NULL,
	[Miktar] [bigint] NULL,
	[SatisFiyat] [money] NULL,
	[Tutar] [money] NULL,
	[SiparisTarih] [date] NULL,
 CONSTRAINT [PK_SIPARIS] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[URUN]    Script Date: 11.04.2017 13:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[UNo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[UrunOzellik] [nvarchar](100) NULL,
	[BirimFiyat] [money] NULL,
	[EldekiStok] [bigint] NULL,
 CONSTRAINT [PK_URUN] PRIMARY KEY CLUSTERED 
(
	[UNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
