USE [master]
GO
/****** Object:  Database [EXAMPLE_DB]    Script Date: 22.03.2017 12:52:22 ******/
CREATE DATABASE [EXAMPLE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXAMPLE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EXAMPLE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EXAMPLE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EXAMPLE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXAMPLE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXAMPLE_DB]
GO
USE [EXAMPLE_DB]
GO
/****** Object:  Table [dbo].[STUDENT_TB]    Script Date: 22.03.2017 12:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TB](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT_TB_NewTable]    Script Date: 22.03.2017 12:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_TB_NewTable](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
