USE [master]
GO
/****** Object:  Database [DERS_DB]    Script Date: 20.03.2017 13:10:34 ******/
CREATE DATABASE [DERS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DERS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DERS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DERS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DERS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DERS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DERS_DB]
GO
USE [DERS_DB]
GO
/****** Object:  Table [dbo].[Hesaplanmis_TB]    Script Date: 20.03.2017 13:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesaplanmis_TB](
	[num] [int] NULL,
	[vize] [int] NULL,
	[final] [int] NULL,
	[ort]  AS (([vize]+[final])/(2))
) ON [PRIMARY]

GO
USE [master]
GO
