USE [MYO_DB]
GO
/****** Object:  Table [dbo].[OGRENCI_TB]    Script Date: 15.03.2017 12:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OGRENCI_TB](
	[numarasi] [int] IDENTITY(1,1) NOT NULL,
	[adsoy] [varchar](50) NOT NULL,
	[dogumtarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONEL_DB]    Script Date: 15.03.2017 12:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_DB](
	[numarasi] [int] IDENTITY(1,1) NOT NULL,
	[adsoy] [varchar](50) NOT NULL,
	[dogumtarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
