USE [master]
GO
/****** Object:  Database [Database_DB]    Script Date: 07/04/2017 20:17:59 ******/
CREATE DATABASE [Database_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Database_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Database_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database_DB]
GO
USE [Database_DB]
GO
/****** Object:  Table [dbo].[SATIS_TB]    Script Date: 07/04/2017 20:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_TB](
	[id] [int] IDENTITY(1,10) NOT NULL,
	[satistarihi] [date] NOT NULL,
	[sonodemetarihi] [date] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STOK_TB]    Script Date: 07/04/2017 20:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOK_TB](
	[id] [int] IDENTITY(100,10) NOT NULL,
	[fiyat] [real] NULL,
	[kdv] [real] NULL,
	[kdvfiyat]  AS ([fiyat]+[fiyat]*[kdv]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SATIS_TB]  WITH CHECK ADD  CONSTRAINT [kisit1] CHECK  ((datediff(day,[satistarihi],[sonodemetarihi])<=(90)))
GO
ALTER TABLE [dbo].[SATIS_TB] CHECK CONSTRAINT [kisit1]
GO
USE [master]
GO
