USE [master]
GO
/****** Object:  Database [Personel_DB]    Script Date: 20/03/2017 04:36:46 ******/
CREATE DATABASE [Personel_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Personel_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Personel_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Personel_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Personel_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Personel_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Personel_DB]
GO
USE [Personel_DB]
GO
/****** Object:  Table [dbo].[Maas_TB]    Script Date: 20/03/2017 04:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maas_TB](
	[Maas_ID] [numeric](18, 0) NOT NULL,
	[Personel_ID] [numeric](18, 0) NOT NULL,
	[Odeme_ID] [numeric](18, 0) NOT NULL,
	[Personel_Vergi_Kesintisi] [int] NOT NULL,
	[Personel_Net_Maas] [int] NOT NULL,
	[Maas_Tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Maas_TB] PRIMARY KEY CLUSTERED 
(
	[Maas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Meslek_TB]    Script Date: 20/03/2017 04:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meslek_TB](
	[Meslek_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Meslek_Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Meslek_TB] PRIMARY KEY CLUSTERED 
(
	[Meslek_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Odeme_Turu_TB]    Script Date: 20/03/2017 04:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme_Turu_TB](
	[Odeme_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Odeme_Turu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Odeme_Turu_TB] PRIMARY KEY CLUSTERED 
(
	[Odeme_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personel_TB]    Script Date: 20/03/2017 04:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_TB](
	[Personel_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Adi_Soyadi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[İse_Giris_Tarihi] [datetime] NOT NULL,
	[Meslek_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Personel_TB] PRIMARY KEY CLUSTERED 
(
	[Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Personel_TB]  WITH CHECK ADD  CONSTRAINT [FK_Personel_TB_Personel_TB] FOREIGN KEY([Personel_ID])
REFERENCES [dbo].[Personel_TB] ([Personel_ID])
GO
ALTER TABLE [dbo].[Personel_TB] CHECK CONSTRAINT [FK_Personel_TB_Personel_TB]
GO
USE [master]
GO
