USE [master]
GO
/****** Object:  Database [EXAMPLE_DB]    Script Date: 22.03.2017 13:45:39 ******/
CREATE DATABASE [EXAMPLE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXAMPLE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EXAMPLE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EXAMPLE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EXAMPLE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXAMPLE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXAMPLE_DB]
GO
USE [EXAMPLE_DB]
GO
/****** Object:  Table [dbo].[EXMAPLE_TB]    Script Date: 22.03.2017 13:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXMAPLE_TB](
	[x] [int] NULL,
	[y] [int] NULL,
	[z]  AS (([x]*[y])/(2))
) ON [PRIMARY]

GO
USE [master]
GO
