USE [master]
GO
/****** Object:  Database [COMPANY_DB]    Script Date: 22.03.2017 13:45:19 ******/
CREATE DATABASE [COMPANY_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMPANY_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\COMPANY_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COMPANY_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\COMPANY_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMPANY_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMPANY_DB]
GO
USE [COMPANY_DB]
GO
/****** Object:  Table [dbo].[MUSTERI_TB]    Script Date: 22.03.2017 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI_TB](
	[musteri_no] [int] NOT NULL,
	[ad] [varchar](25) NULL,
	[soyad] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[musteri_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SATIS_TB]    Script Date: 22.03.2017 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_TB](
	[musteri_no] [int] NULL,
	[urun_no] [int] NULL,
	[satis_miktari] [real] NULL,
	[satis_fiyati] [money] NULL,
	[sati_tarihi] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[URUNLER_TB]    Script Date: 22.03.2017 13:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER_TB](
	[urun_no] [int] NOT NULL,
	[urun_adi] [varchar](15) NULL,
	[fiyati] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[urun_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SATIS_TB] ADD  DEFAULT (getdate()) FOR [sati_tarihi]
GO
ALTER TABLE [dbo].[SATIS_TB]  WITH CHECK ADD FOREIGN KEY([musteri_no])
REFERENCES [dbo].[MUSTERI_TB] ([musteri_no])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SATIS_TB]  WITH CHECK ADD FOREIGN KEY([urun_no])
REFERENCES [dbo].[URUNLER_TB] ([urun_no])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
